@import "../../styles/main.scss";

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 37px;
    border-radius: 10px;
    color: $text-color;
    background-color: $main-color;
    margin-right: 10px;
    list-style: none;
    
    &-container{
        display: flex;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
    }
}